.section-quotes {
    position: relative;
    top: -10rem;
    padding: 15rem 0;
    
 

}


.pagecount{
    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        padding: 2rem;
        background-color: rgba($color-primary-light, 0.8);

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}